@use '../_abstracts/vars';
@use '../_abstracts/mixins';

.controller {
    flex-direction: row;
    align-items: vars.$ctr;
    margin-top: 10px;
    width: 100%;

    &__play,
    &__pause {
        @include mixins.playPause();
    }

    &__pause {
        @include mixins.img();
    }

    &__timeline {
        @include mixins.timeline();

        #{&}::-webkit-slider-thumb,
        #{&}::-moz-range-thumb {
            @include mixins.sliderThumb();
        }

        #{&}::-moz-range-thumb {
            transition: all .5s;
        }

        #{&}::-webkit-slider-runnable-track {
            @include mixin.runnable();
        }

        #{&}::-moz-range-track,
        #{&}::-ms-track {
            @include mixins.rangeTrack();
        }
    }

    &__timeline[type="range"] {
        #{&}::-webkit-slider-runnable-track {
            @include mixins.range();
        }
    }

    &__current,
    &__dash,
    &__duration {
        @include mixins.dash-duration-current();
    }
}