@use '../_abstracts/vars';
@use '../_abstracts/mixins';

.controller {
    display: vars.$flx;
    flex-direction: row;
    align-items: vars.$ctr;
    align-self: vars.$ctr;
    width: 100%;
    min-width: 0;

    &__play,
    &__pause {
        @include mixins.playPause();
    }

    &__pause {
        @include mixins.img();
    }

    &__current,
    &__dash,
    &__duration {
        @include mixins.dash-duration-current();
    }
}