@use '../_abstracts/vars';
@use '../_abstracts/mixins';

.slider {
    margin-bottom: 180px;
    position: relative;

    .container {
        position: relative;
        max-width: 100%;
        margin: 0 auto; 
    }

    .embla {
        &__viewport {
            overflow: hidden;
            transform: translateX(10px);
        }
        
        &__container {
            display: vars.$flx;
            gap: 0;
            margin-right: -30px;
        }

        &__slide {
            flex: 0 0 33.333333%;
            padding-right: 30px;
            min-width: 0;
        }

        &__arrow {
            position: absolute;
            top: 45%;
            width: 40px;
            height: 60px;
            color: transparent;
            background-repeat: vars.$norp;
        }

        &__prev {
            left: -60px;
            background-image: url("../../../icons/full-arrow-prev.svg");
        }

        &__next {
            right: -60px;
            background-image: url("../../../icons/full-arrow-next.svg");
        }
    }
}

.card {
    display: block;
    position: relative;
    padding: 0;
    width: vars.$full;
    max-width: 350px;
    height: 473px;
    background-color: #2F2B2B;
    border-radius: 30px 0px;
    text-align: left;
    object-fit: cover;

    &__img {
        display: inline-block;
	    max-width: vars.$full;
        width: vars.$full;
        height: 280px;
        border-radius: 30px 0px;
    }

    &__content {
        padding: 30px 35px 20px 35px;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__sub {
        margin-bottom: 46px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    &__link {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 18px;
        width: 180px;
        min-height: 60px;
	    font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        text-align: vars.$ctr;
        background-color: vars.$violet;
        border-radius: 30px 0px;
        transition: color .3s ease-in-out;
        @include mixins.slider();

        &:focus,
        &:active {
            @include mixins.slider();
        }

        &:hover {
            text-decoration: vars.$no;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__time {
        font-family: vars.$pop;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
    }
}