@use '../_abstracts/vars';
@use '../_abstracts/mixins';

.intro {
    margin-bottom: 130px;
    max-width: vars.$full;

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        @include mixins.clamp();
    }

    &__song {
        margin-bottom: 60px;
        font-family: vars.$pop;
        font-weight: 700;
        font-size: clamp(48px, 8vw, 100px);
        font-style: normal;
        line-height: 1.2;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: vars.$light;
    }

    &__playon {
        @include mixins.seek-buffered();
    }

    &__playon input[type="range"] {
        max-width: 55rem;
        width: 55rem;
    }
}