@use '../_abstracts/vars';

.header {
    .container {
        padding: 0 30px;
    }
}

.nav {
    &__list {
        display: vars.$flx;
        flex-wrap: wrap;
    }

    &__item {
        min-height: 27px;
            &:not(:last-child) {
                margin-right: 56px;
            }
    }

    &__link,
    &__link:active {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: vars.$light;
    }

    &__link:hover {
        text-decoration: vars.$no;
        color: vars.$light;
        opacity: 0.7;
    }
}