@use '../_abstracts/vars';
@use '../_abstracts/mixins';

.news {
    margin-bottom: 179px;

    &__list {
        display: vars.$flx;
        justify-content: space-between;
    }

    &__item {
        display: vars.$flx;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 30px;
        width: 350px;
        min-height: 300px;
        background-repeat: vars.$norp;
        border-radius: 20px 0px;

        &:not(:last-child) {
            margin-right: 30px;
        }

        &:first-child {
            background-image: url("../img/first.webp");
        }

        &:nth-child(2) {
            background-image: url("../img/second.webp");
            }

        &:last-child {
            background-image: url("../img/third.webp");
        }
    }

    &__headline {
        width: 350px;
        min-height: 90px;
        background-color: rgba(122, 102, 204, 0.7);
        border-radius: 20px 0px;
    }

    &__description {
        padding: 20px 21px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        min-height: 48px;
    }

    #second &__descr {
        width: 60%;
    }

    #third &__descr {
        width: 70%;
    }
}