@use 'sass:meta';
@use './_abstracts/vars';
@use './_abstracts/mixins';
@use './_abstracts/reset';

@use './_layout/nav';
@use './_layout/intro';

@use './_layout/news';
@use './_layout/info';

@use './_layout/follow';
@use './_layout/gallery';
@use './_layout/footer';

@use './_components/controller';
@use './_components/tracks';
@use './_components/embla';

@use './_media/tablet';
@use './_media/mobile';
@use './_media/small-mobile';

.header {
    display: vars.$flx;
    padding-top: 42px;
    margin-bottom: 160px;
    max-width: 100%;
    
    .container {
        display: vars.$flx;
        justify-content: vars.$ctr;
        align-items: vars.$ctr;
        margin: 0 auto;
    }

    &__logo {
        align-items: flex-end;
        margin-right: 65px;
    }
}

.main {
    margin: 0 auto;
    width: min(1270px, 100%);
    padding: 161px clamp(15px, 4vw, 50px) 0;
}

/* use input[type="range"] only, it's important for styling and design */

input[type="range"] {
    -webkit-appearance: vars.$no;
    appearance: vars.$no;
    width: vars.$full;
    max-width: vars.$no;
    min-width: 0;
    @include mixins.timeline();
    --progress: 0%;
    background: linear-gradient(
        to right,
        vars.$violet 0%,
        vars.$violet var(--progress),
        rgba(255,255,255,.1) var(--progress),
        rgba(255,255,255,.1) 100%
  );
    border-radius: 999px;
    height: 3px;
}

input[type="range"]::-moz-range-thumb {
    transition: all .5s;
}

input[type="range"]::-webkit-slider-runnable-track {
    @include mixins.runnable();
    @include mixins.range();
    background: transparent;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
    @include mixins.rangeTrack();
}


input[type="range"]::-webkit-slider-thumb {
    @include mixins.sliderThumb();
}

input[type="range"]::-moz-range-thumb {
    @include mixins.sliderThumb();
}