@use 'sass:meta';
@use './_abstracts/vars';
@use './_abstracts/mixins';
@use './_abstracts/reset';
@use './_layout/nav';
@use './_layout/intro';
@use './_components/audio';
@use './_layout/news';
@use './_layout/info';
@use './_components/tracks';
@use './_layout/follow';
@use './_layout/gallery';
@use './_components/slider';
@use './_layout/footer';
@use './_abstracts/_media/screen';
@use './_abstracts/_media/tablet';
@use './_abstracts/_media/mini';   

.header {
    display: vars.$flx;
    padding-top: 42px;
    margin-bottom: 161px;
    max-width: 100%;
    align-items: vars.$ctr;

    &__logo {
        align-items: flex-end;
        margin-right: 65px;
    }
}

.main {
    margin: 0 auto;
    max-width: 1270px;
    padding: 161px 50px 0 50px;
}

/* .media-screen {
        &__email {
        &:focus,
        &:active {
            @include mixins.link();
        }

        &:hover {
            @include mixins.hover();
        }
    }
} */