@use '../vars';

@media (max-width: 1536px) {
    body {
        max-width: 1536px;
    }
}

@media (max-width: 1440px) {
    body {
        max-width: 1440px;
    }

    .main,
    .container {
        max-width: vars.$full;
    }

    .slick-prev {
        left: -30px;
    }
  
    .slick-next {
        right: -30px;
    }
}

@media (max-width: 1280px) {
    body {
        max-width: 1280px;
    }

    .tracks__list {
        max-width: 90%;
    }

    .slick-prev {
        left: -25px;
        z-index: 10;
    }
  
    .slick-next {
        right: -25px;
    }
}

@media (max-width: 1200px) {
    body {
        max-width: 1200px;
    }

    #playon {
        width: 750px;
    }

    #panel {
        width: 300px;
    }

    .info {
        &__descr {
            max-width: vars.$half;
            width: vars.$half;
        }

        &::before {
            right: 100px;
        }

        &::after {
            right: 20px;
        }
    }

    .media {
        &__subscription {
            max-width: vars.$half;
        }
    }

    #04 {
        display: vars.$no;
    }

    .gallery {
        &__list {
            justify-content: vars.$ctr; 
            grid-template-columns: repeat(3, 255px);
        }
    }

    .card {
        width: 250px;
        height: 350px;
        background-color: transparent;
        border-right: vars.$board;
        border-bottom: vars.$board;

        &__img {
            width: 248px;
            height: 198px;
        }

        &__sub {
            margin-bottom: 10px;
            font-weight: vars.$weight;
            line-height: vars.$full;
        }

        &__time {
            font-weight: vars.$weight;
            text-transform: vars.$no;
        }

        &__title {
            margin-bottom: 10px;
            font-weight: 500;
            line-height: vars.$full;
        }

        &__link {
            right: 15px;
            bottom: 10px;
            padding: 5px;
            width: fit-content;
            min-height: 10px;
            font-weight: vars.$weight;
            font-size: 16px;
            line-height: vars.$full;
            text-transform: lowercase;
            background-color: transparent;
            border-radius: 15px 0px;
            color: vars.$violet;
        }
    }

    .slick-prev {
        left: -35px;
    }
  
    .slick-next {
        right: -35px;
    }
}


@media (max-width: 1074px) {
    #playon {
        width: 700px;
    }
}