$dark: #1C1B21;
$light: #fff;
$violet: #7A66CC;

$pop: "Poppins", sans-serif;
$flx: flex;
$ctr: center;
$point: pointer;
$norp: no-repeat;
$no: none;

$half: 50%;
$full: 100%;
$board: 1px solid #2F2B2B;
$weight: 400;