@use '../_abstracts/vars';
@use '../_abstracts/mixins';

@media (max-width: 768px) {
    body {
        max-width: 768px;
        background-image: url("../../../optimize/768-back.webp");
    }

    .main {
        padding: 0 4rem;
    }

    .intro {
        &__song {
            font-family: vars.$font;
            font-weight: 600;
            font-size: 70px;
            line-height: vars.$full;
            color: vars.$light;
        }
    }

    .controller {
        &__timeline {
            margin-right: 15px;
            width: 380px;
        }
    }

    .news {
        &__list {
            flex-direction: column;
            align-items: vars.$ctr;
        }

        &__item {
            margin-right: 0;
        }
    }

    .info {
        &__list {
            max-width: vars.$half;
        }
    }

    #01 {
        display: vars.$no;
    }

    #05 {
        grid-column: auto;
    }

    .gallery {
        &__list {
            grid-template-columns: repeat(2, 255px);
        }
    }
}

@media (max-width: 720px) {
    .playlist {
        padding-left: 0;
    }

    .controller {
        &__timeline {
            width: 300px;
        }
    }
}

@media (max-width: 600px) {
    body {
        max-width: 600px;
    }

    .main {
        padding: 0 2rem;
    }

    .controller {
        &__timeline {
            width: 290px;
        }
    }

    .info {
        &::after {
            right: 20px;
        }
    }

    .media {
        padding: 20px 50px;
    }

    .player {
        &__panel {
            .controller {
                &__pause {
                    margin-right: 5px;
                }
            }
        }
    }

    .gallery {
        &__list {
            grid-template-columns: repeat(1, 255px);
        }
    }

    #05 {
        width: 255px;
    }

    .slick-next {
        right: 25px;
    }

    .slick-prev {
        left: 25px;
    }

    .card {
        &__img {
            width: 249px;
            height: 199px;
        }
    }

    .footer {
        &__list {
            justify-content: space-between;
        }

        &__table {
           display: vars.$no; 
        }
    }

    .screen {
        display: vars.$flx;
        flex-wrap: wrap;
        justify-content: vars.$ctr;
        width: vars.$full;
        min-height: 50px;
        text-align: vars.$ctr;

        &__item {
           font-size: 18px;
            line-height: 27px;
            color: vars.$light;
            text-transform: uppercase;
            font-weight: vars.$weight;

            &:nth-child(-n+2) {
                cursor: default;
            } 
        }
    }
}

@media (max-width: 480px) {
    body {
        margin: 0 auto;
        max-width: 480px;
        background-image: url("../../../optimize/480-back.webp");
    }

    .main {
        padding: 0 15px;
    }

    .header {
        padding-left: 15px;
    }
    
    .logo {
        order: 2;
        margin-left: 0;
        align-self: cars.$ctr;
    }

    .nav {
        margin-right: 20px;

        &__link {
            font-weight: vars.$weight;
            font-size: 14px;
        }
    }

    .intro {
        &__title {
            @include mixins.mini();
        }

        &__song {
            font-size: 50px;
            line-height: vars.$full;
        }
    }

    .controller {
        &__current,
        &__dash,
        &__duration {
            @include mixins.mini-timeline();
        }

        &__timeline {
            margin-right: 20px;

            #{&}::-webkit-slider-thumb {
                @include mixins.mini-width;
            }

            #{&}::-moz-range-thumb {
                @include mixins.mini-width;
            }
        }

        &__play {
            @include mixins.mini-btn-play();
            background-image: url("../../../optimize/480-pause-button.svg");
        }

        &__pause {
            @include mixins.mini-btn-play();
            background-image: url("../../../optimize/play-button-480.svg");
        }
    }

    .playlist {
        &__title {
            @include mixins.mini();
            background-position: bottom 4px left;
        }
    }

    #panel {
        width: 200px;
    }

    .news {
        &__headline {
            width: 250px;
            min-height: 50px;
        }

        &__item {
            min-height: 214px;
            width: 250px;

            &:first-child {
                background-image: url("../../../optimize/480-first.webp");
            }

            &:nth-child(2) {
                background-image: url("../../../optimize/480-second.webp");
            }

            &:last-child {
                background-image: url("../../../optimize/480-third.webp");
            }
        }

        &__description {
            margin-bottom: 0;
            padding: 10px;
            width: vars.$full;
            font-weight: vars.$weight;
        }
    }

    .info {
        margin-bottom: 50px;
        max-width: vars.$full;
        width: vars.$full;
        background-position: bottom 4px left;

        &__title {
            @include mixins.mini();
        }

        &__descr {
            max-width: vars.$full;
            width: vars.$full;
        }

        &__item {
            font-weight: vars.$weight;
        }
    }

    .follow {
        &__title {
            font-size: 15px;
            font-weight: vars.$weight;
            line-height: vars.$full;
        }

        &__item {
            background-size: 18px 18px;
            background-position: bottom 5px left 15px;
        }

        &__link {
            font-weight: vars.$weight;
            line-height: vars.$full;
        }
    }

    .news,
    .media,
    .gallery,
    .slider {
        margin-bottom: 100px;
    }

    .tracks {
        margin-bottom: 170px;
    }

    .media {
        padding: 15px 15px;
    }

    .footer {
        &__list {
            margin-bottom: 50px;
        }

        &__item {
            &:first-child &__link {
                background-image: url("../../../optimize/apple-480.svg");
            }

            &:nth-child(2) &__link {
                background-image: url("../../../optimize/spoty-480.svg");
            }

            &:nth-child(3) &__link {
                background-image: url("../../../optimize/insta-480.svg");
            }

            &:nth-child(4) &__link {
                background-image: url("../../../optimize/youtube-480.svg");
            }

            &:nth-child(5) &__link {
                background-image: url("../../../optimize/twitter-480.svg");
            }

            &:last-child &__link {
                background-image: url("../../../optimize/fb-480.svg");
            }
        }

        &__link {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 440px) {
    #playon,
    #panel {
        width: 140px;
    }

    .slick-arrow {
        width: 20px;
        height: 30px;
    }

    .slick-next {
        background-image: url("../../../optimize/480-arrow-next.svg");
        right: 0;
    }

    .slick-prev {
        background-image: url("../../../optimize/480-arrow-prev.svg");
        left: 0;
    }
}

@media (max-width: 320px) {
    body {
        max-width: 320px;
    }

    #playon,
    #panel {
        width: 70px;
    }

    .footer {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 60px);
        }
    }
}