@use '../_abstracts/vars';
@use '../_abstracts/mixins';

@media (max-width: 1024px) {
    body {
        max-width: 1024px;
        background-image: url("../../../optimize/1024-back.webp");
    }

    .main {
        padding-top: 0;
    }

    #playon {
        width: 600px;
    }

    .news {
        &__headline {
            max-width: 350px;
        }

        &__list {
            justify-content: vars.$ctr;
            flex-wrap: wrap;
        }

        &__item {
            margin-bottom: 30px;

            &:last-child {
                margin-right: 30px;
            }
        }
    }

    .media {
        max-width: vars.$full;
    }

    .info {
        &::after {
            right: 50px;
        } 
    } /* ?? */

    /* prev version 
        .info-page .container::after {
        right: 50px;
    } */

    .tracks {
        &__title,
        &__item {
           user-select: vars.$no; 
        }
    }
}

@media (max-width: 992px) {
    body {
        max-width: 992px;
    }

    .header {
        margin-bottom: 50px;
        padding-left: 3rem;
        width: vars.$full;

        .logo {
            margin-left: auto;
            order: 1;
            align-self: flex-start;
        }
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
        max-width: 20%;
    }

    #playon {
        width: 500px;
    }

    .info {
        &::before {
            display: vars.$no;
        }

        &::after {
            display: vars.$no;
        }
    }

    .media {
        &__subscription {
            max-width: vars.$full;
        }
    }

    .label {
        display: vars.$no;
    }

    .playlist {
        padding-left: 0;
        width: vars.$full;
    }
}

@media (max-width: 900px) {
    body {
        max-width: 900px;
    }

    .nav {
        &__list {
            width: 70%;
        }

        &__item {
            margin-bottom: 15px;
        }
    }

    .label { /* &__logo */
        display: vars.$no;
    }

    .footer {
        max-width: vars.$full;
    }
}

@media (max-width: 845px) {
    .controller {
        &__play,
        &__pause {
            margin-right: 10px;
        }

        &__timeline {
            margin-right: 30px;
            width: 450px;
        }
    }

    #panel { /* ??? */
        margin-right: 30px;
    }
}
